body {
    background: #000;
    color: #39ff14;
    font-family: monospace;
}

a {
    color: #7cff7c;
}

a:hover {
    color: #aaffaa;
}

article {
    background: #020202;
    border-left: 3px solid #39ff14;
    padding: 10px;
}

time {
    color: #66ff66;
}

h1, h2, h3 {
    color: #39ff14;
}
